.login-card {
    background: url("/assets/images/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    width: 100vw;
    height: 100vh;
    background-position: top;
}