.image-wrapper {
    width: 100%;
    height: 100vh;
    background: url("/assets/animations/404.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-attachment: fixed;
}