.sidebar-header {
  cursor: pointer !important;
  h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 0px !important;
    color: #343c6a;
  }
}

.sidebar-header-logo {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  transition: all 0.5s ease;
  visibility: visible;
  opacity: 1;
  &-hidden {
    visibility: hidden;
    opacity: 0;
  }
}
