<app-center>
  <div class="form-card">
    <div class="card border border-0 bg-transparent">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-5">
          <img
            src="./assets/images/login_cart.png"
            class="card-img p-0 m-0"
            alt="cart"
            style="width: 80px"
          />
        </div>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <input
                type="text"
                class="form-control bg-transparent"
                id="exampleInputUsername"
                placeholder="@username or email"
                formControlName="enterby"
              />
            </div>
            <div class="password mb-3">
              <input
                [type]="togglePasswordVisibility ? 'text' : 'password'"
                class="form-control bg-transparent"
                id="exampleInputPassword1"
                placeholder="password"
                formControlName="password"
              />
              <div class="password-show-toggle" (click)="togglePasswordVisibility = !togglePasswordVisibility">
                <img [src]="togglePasswordVisibility ? '/assets/images/eye.svg' : '/assets/images/no.eye.svg'" width="25" alt="eye">
              </div>
            </div>
            <button type="submit" class="btn btn-light w-100 mb-3">
                LOGIN
            </button>
          </form>
          <div class="d-flex justify-content-between">
            <a
            [routerLink]="['/auth/forgot-password']"
            class="text-white text-decoration-none"
            ><p>Forgot password?</p></a
          >
            <a
            [routerLink]="['/auth/signup']"
            class="text-white text-decoration-none"
            ><p>New here?</p></a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</app-center>