.login-card {
    width: 300px;
    input::placeholder {
        color: #fff !important;
    }
    .btn-light {
        color: #2148C0 !important;
    }
    input[type="email"],
    input[type="password"] {
        color: #fff !important;
    }

    .form-control:focus {
        box-shadow: none !important;
    }
}