.inactive {
    width: 15px;
    height: 15px;
    background-color: #dc3545;
    border-radius: 50px;
}

.active {
    width: 15px;
    height: 15px;
    background-color: #2d60ff;
    border-radius: 50px;
} 

.app-card {
    width: 100%;
    height: 100%;
    background-color: #F5F7FA !important;
    padding: 10px;
    table {
        background-color: transparent !important;
    }
}

.admin {
    &-roles-count {
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-role {
        width: 200px;
        height: 56px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}