.inactive {
  width: 15px;
  height: 15px;
  background-color: #dc3545;
  border-radius: 50px;
}

.active {
  width: 15px;
  height: 15px;
  background-color: #2d60ff;
  border-radius: 50px;
}


.admin {
  &-roles-count {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  &-role {
    width: 200px;
    height: 90px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &-name {
      font-family: "Inter";
      font-style: normal;
      font-size: 16px;
      color: #718ebf;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 10px;
    }
    &-status {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #232323;
    }
    &-svg {
      padding: 13px;
      border-radius: 50%;
      margin-right: 10px;
      &-admin {
        background-color: #ffb93841;
      }
      &-moderator {
        background-color: #396bff23;
      }
      &-ctrl {
        background-color: #16dbcb1c;
      }
      &-super {
        background-color: #ffe0eb;
      }
    }
  }
}

.admin-create-new {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

:host .skeleton-loader-admins ngx-skeleton-loader  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.d-inline-block .dropdown-item:active {
  background-color: #dc3545 !important;
}