<div class="admins">
  <div class="app-card">
    <div *ngIf="loading; else data">
      <ngx-skeleton-loader
        count="15"
        apperance="circle"
        [theme]="{height: '45px'}"
      ></ngx-skeleton-loader>
    </div>
    <ng-template #data>
      <div class="admin-roles-count">
        <div class="admin-role">
          <div class="admin-role-svg admin-role-svg-admin">
            <img src="/assets/images/admin.svg" width="30" alt="ADMIN" />
          </div>
          <div class="d-flex flex-column">
            <span class="admin-role-name">Admin</span>
            <span class="admin-role-status">{{ adminRoles['ADMIN'] }}</span>
          </div>
        </div>
        <div class="admin-role">
          <div class="admin-role-svg admin-role-svg-moderator">
            <img src="/assets/images/moderator.svg" width="30" alt="ADMIN" />
          </div>
          <div class="d-flex flex-column">
            <span class="admin-role-name">Moderator</span>
            <span class="admin-role-status">{{ adminRoles['MODERATOR'] }}</span>
          </div>
        </div>
        <div class="admin-role">
          <div class="admin-role-svg admin-role-svg-ctrl">
            <img src="/assets/images/admin.controller.svg" width="30" alt="ADMIN" />
          </div>
          <div class="d-flex flex-column">
            <span class="admin-role-name">Admin Con..</span>
            <span class="admin-role-status">{{ adminRoles['ADMIN-CONTROLLER'] }}</span>
          </div>
        </div>
        <div class="admin-role">
          <div class="admin-role-svg admin-role-svg-super">
            <img src="/assets/images/super.admin.svg" width="30" alt="ADMIN" />
          </div>
          <div class="d-flex flex-column">
            <span class="admin-role-name">Super Admin</span>
            <span class="admin-role-status">{{ adminRoles['SUPER-ADMIN'] }}</span>
          </div>
        </div>
      </div>
      <div class="admin-create-new">
        <button class="btn btn-primary">
          <img src="/assets/images/add.svg" width="30" alt="create new admin">
          Add new
        </button>
      </div>
      <table class="table admin-list">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of adminList, let idx = index">
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ admin.username }}</td>
            <td *ngIf="admin.email; else noemail">{{ admin.email }}</td>
            <ng-template #noemail>
              <td class="fw-bold">(This user has no email)</td>
            </ng-template>
            <td>
              <img
                [src]="admin.roles == 'ADMIN' ? '/assets/images/admin.svg' : admin.roles == 'MODERATOR' ? '/assets/images/moderator.svg' : admin.roles == 'SUPER-ADMIN' ? '/assets/images/super.admin.svg' : '/assets/images/admin.controller.svg'"
                [tooltip]="admin.roles == 'ADMIN' ? 'ADMIN' : admin.roles == 'MODERATOR' ? 'MODERATOR' : admin.roles == 'SUPER-ADMIN' ? 'SUPER-ADMIN' : 'ADMIN-CONTROLLER'"
                width="25"
              />
            </td>
            <td>
              <div
                [class]="admin.active ? 'active' : 'inactive'"
                [tooltip]="admin.active ? 'This user is active' : 'This user is inactive'"
              ></div>
            </td>
            <td>
              <button class="btn btn-danger me-2" [disabled]="admin.roles.includes('SUPER-ADMIN') || admin.roles.includes('ADMIN-CONTROLLER')">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-trash"
                  width="25"
                  height="25"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#fff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 7l16 0" />
                  <path d="M10 11l0 6" />
                  <path d="M14 11l0 6" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </button>
              <button *ngIf="adminID !== admin._id; else toEditPage" class="btn btn-primary me-2" [disabled]="admin.roles.includes('SUPER-ADMIN') || admin.roles.includes('ADMIN-CONTROLLER')">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-edit"
                  width="25"
                  height="25"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#fff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                  />
                  <path
                    d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                  />
                  <path d="M16 5l3 3" />
                </svg>
              </button>
              <ng-template #toEditPage>
                <button class="btn btn-primary me-2" >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-edit"
                    width="25"
                    height="25"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#fff"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                    />
                    <path
                      d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                    />
                    <path d="M16 5l3 3" />
                  </svg>
                </button>
              </ng-template>
              
              <button
                class="btn btn-warning"
                (click)="blockAdminById(admin._id)"
                [disabled]="admin.roles.includes('SUPER-ADMIN') || admin.roles.includes('ADMIN-CONTROLLER')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-ban"
                  width="25"
                  height="25"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#fff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                  <path d="M5.7 5.7l12.6 12.6" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
